<h1>Edit Bulk Discount</h1>

<%= form_with model: [@merchant, @discount], local: true do |f| %>
<%= f.label :discount_amount, "New Discount Amount:" %>
<%= f.text_field :discount_amount, placeholder: "#{(@discount.discount_amount.round(2) * 100)}" %>

<%= f.label :threshold, "New Threshold Quantity:"%>
<%= f.text_field :threshold, placeholder: "#{@discount.threshold}" %>

<%= f.submit "Save updated discount" %>
<% end %>