<div id="index-info">
  <h1>Discount Index Page</h1>
  <h2>Available Discounts:</h2>
  <p><ul>
    <% @discounts.each do |discount| %>
      <div id="discount-<%= discount.id %>">
        <li>Discount Amount: <%= discount.discount_amount.round(2) * 100 %>%</li>
        <li>Threshold Quantity: <%= discount.threshold %> </li>
        <%= link_to "Discount Description", merchant_discount_path(@merchant, discount), method: :get %>
        <%= link_to "Delete this Discount", merchant_discount_path(@merchant, discount), method: :delete %>
        <br>
      </div>
    <% end %>
  </p></ul>
  <%= link_to "Create new discount", new_merchant_discount_path(@merchant)%>
</div>
<h3>Upcoming Holidays:</h3>
<ol>
<% @holidays.each do |holiday| %>
  <li><%= holiday.name %> <%= holiday.date %></li>
<% end %>
</ol>